name: CMake (Ubuntu 22.04)

on:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/cmake.yml'
      - 'src/**'
      - 'CMakeModules/**'
      - CMakeLists.txt
      - 'protocols/**'
    branches: [ "main" ]
  pull_request:
    paths:
      - '.github/workflows/cmake.yml'
      - 'src/**'
      - 'CMakeModules/**'
      - CMakeLists.txt
      - 'protocols/**'
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        build_type: [Release, Debug]

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Cache ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-ubuntu-22.04-${{ matrix.build_type }}

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install \
            libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev \
            libgl-dev libglew-dev freeglut3-dev libsdl2-dev liblz4-dev \
            libavcodec-dev libavformat-dev libavutil-dev libswscale-dev \
            libxxf86vm-dev libglm-dev libglfw3-dev libmpv-dev mpv libmpv1 \
            libpulse-dev libpulse0 libfftw3-dev wayland-scanner++ \
            wayland-protocols libwayland-dev libwayland-egl-backend-dev

      - name: Configure CMake
        run: cmake -B build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -D CMAKE_C_COMPILER_LAUNCHER=ccache \
          -D CMAKE_CXX_COMPILER_LAUNCHER=ccache

      - name: Build
        run: cmake --build build --config ${{ matrix.build_type }}

      - name: Package binaries
        run: |
          mkdir -p artifacts/${{ matrix.build_type }}
          cp -r build/* artifacts/${{ matrix.build_type }}/

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: binaries-${{ matrix.build_type }}
          path: artifacts/${{ matrix.build_type }}
